body {
  background-image: url("./assets/bg.jpg");
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.play-btn {
  width: 150px;
  border-radius: 8px;
  font-size: 45px;
  color: #000000;
  /* color: #ffffff; */
  background: #ffee00;
  text-shadow: none;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #000000;
  transition: 0.5s ease;
  user-select: none;
}

.play-btn:hover,
:focus {
  color: #ffffff;
  background: #ffee00;
  border: 1px solid #ffee00;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ffee00, 0 0 20px #ffee00, 0 0 50px #ffee00,
    0 0 100px #ffee00;
}
